/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.NavBar {
  top: 0px;
  width: 100%;
  background-color: rgb(0, 110, 212);
  height: 50px;
  position: fixed;
}

.NavBar li a {
  font-size: 25px;
  text-decoration-line: none;
  color: rgb(84, 159, 230); 
}

.NavBar li {
  display: inline;
  margin: 15px;
  /* color: gray; */
}
/* 
.NavBar li a.active {
  color: rgb(224, 179, 255);
} */

h1 {
  padding: 25px;
  margin: 50px;
  font-size: 25px;
  color: rgb(207, 207, 207);
  background-color: rgb(83, 83, 83);
}

.todo-form {
  border: 2px rgb(207, 207, 207) solid;
  border-radius: 5px;
  padding: 10px;
}


/* .pending {
  background-color: rgb(255, 101, 101);
  color: rgb(36, 36, 36);
}

.complete {
  background-color: rgb(169, 255, 169);
  color: rgb(36, 36, 36);
} */